################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QuizSpeech/v15/Preview/Browse.VC.db
