################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QuizSpeech/v15/Preview/Browse.VC.db
/QuizSpeech/x64/Debug
/x64/Debug
/.vs/QuizSpeech/v15/Preview
.vs/
QuizSpeech/
